<h2>All Heroines</h2>
<%= link_to "Go to All", heroines_path %><br>
<%= link_to "Add New Heroine", new_heroine_path %><br>

<%= form_tag(heroines_path, method: :get) do %>
  <%= label_tag(:search, "Filter by power:") %>
  <%= collection_select :search, :power_id, Power.all, :id, :name %>
  <%= submit_tag(value="Filter") %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.name, heroine_path(heroine) %>
      <%= heroine.super_name  %>
      <%= heroine.power.name %>
    </li>
    <br>
  <% end %>
</ul>
